* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  input {
    width: 100%;
    padding: 10px;
  
    .search-input {
      margin: 0;
      text-align: center;
      outline: 0;
      border: 10px solid #f7f7f7;
      width: 120%;
      left: -10%;
      position: relative;
      top: 10px;
      z-index: 2;
      border-radius: 5px;
      font-size: 40px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
    }
  }
  
  .suggestions {
    position: relative;
  
    li {
      background: white;
      list-style: none;
      border-bottom: 1px solid #d8d8d8;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
      margin: 0;
      padding: 20px;
      transition: 0.2s;
      display: flex;
      justify-content: space-between;
      text-transform: capitalize;
  
      &:nth-child(even) {
        transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
        background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
      }
  
      &:nth-child(odd) {
        transform: perspective(100px) rotateX(-3deg) translateY(3px);
        background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
      }
    }
  }
  
  .search-input {
    background-color: aqua;
    height: 34px;
    width: 332px;
    text-align: center;
    font-weight: bold;
    border-radius: 40px;
  }
  
  #state {
    background-color: aqua;
    height: 34px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    border-radius: 40px;
  }
  
  label {
    font-weight: bold;
  }